# macOS
.DS_Store

# Python/venv
__pycache__/
*.pyc
.venv/

# Local env files
.env
.envrc

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json

# Ansible
*.retry
.ansible/

wings_config.yaml