services:
  db:
    image: mariadb:11
    restart: unless-stopped
    ports:
      - "127.0.0.1:3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "pelican"
      MYSQL_DATABASE: "panel"
      MYSQL_USER: "pelican"
      MYSQL_PASSWORD: "pelican"
    volumes:
      - /mnt/docker-data/services/pelican/db:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3

  redis:
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "127.0.0.1:6379:6379"

networks:
  default:
    name: services_network
    external: true
