---
- name: Configure Infrastructure
  hosts: proxy_host
  become: true
  tasks:
    - name: Include volume setup
      ansible.builtin.include_tasks: volume.yml

    - name: Include Docker installation
      ansible.builtin.include_tasks: docker.yml

    - name: Include Nginx Proxy Manager deployment
      ansible.builtin.include_tasks: services/nginx-proxy-manager/deploy.yml
