---
- name: Configure Infrastructure
  hosts: proxy_host
  become: true
  vars:
    volume_device: /dev/disk/by-id/scsi-0DO_Volume_docker-data-volume
    mount_path: /mnt/docker-data
    legacy_mount_path: /mnt/docker_data_volume
    docker_dir: "{{ mount_path }}/docker"
    services_dir: "{{ mount_path }}/services"
    npm_dirs:
      - "{{ services_dir }}/npm/data"
      - "{{ services_dir }}/npm/letsencrypt"
    npm_db_dir: "{{ services_dir }}/npm/db"
    npm_uid: 1000
    npm_gid: 1000
    mariadb_uid: 999
    mariadb_gid: 999
  tasks:
    - name: Include volume setup
      ansible.builtin.include_tasks: volume.yml
    - name: Include Docker installation
      ansible.builtin.include_tasks: docker.yml

    - name: Include Nginx Proxy Manager deployment
      ansible.builtin.include_tasks: services/nginx-proxy-manager/deploy.yml
